.blue-slide,
.yellow-slide,
.green-slide {
  height: 50vh;
  font-size: 36px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.blue-slide {
  background: 30% center / cover url(../../public/banner.png) no-repeat;
  filter: brightness(0.8);
}

.yellow-slide {
  background: center center / cover url(../../public/banner.png) no-repeat;
  filter: brightness(0.8);
}

.green-slide {
  background: center center / cover url(../../public/banner.png) no-repeat;
  filter: brightness(0.8);
}

@media (min-width: 768px) {
  .blue-slide {
    background: 20% center / cover url(../../public/banner.png) no-repeat;
    filter: brightness(0.8);
  }
}
@media (min-width: 992px) {
  .blue-slide,
  .yellow-slide,
  .green-slide {
    height: calc(100vh - 72px);
    font-size: 36px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .blue-slide {
    background: center 40% / cover url(../../public/banner.png) no-repeat;
    filter: brightness(0.8);
  }
}
